@charset "UTF-8";

#record_table {
    text-align: left;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.law-content { /* 底部白色底線 */
    margin-bottom: 20px; /* 與下一個元素的距離 */
    padding: 10px 0; /* 讓內容與底線有些空間 */
}

.law-chapter {
    font-weight: bold; /* 文字粗體 */
    text-align: left;  /* 文字靠左對齊 */
}

.law-lines {
    text-align: left;  /* 文字靠左對齊 */
}


.right{
    padding-left:150px;
    position:relative;
}

.chapter-ul-1,
.chapter-ul-2,
.chapter-ul-3,
.chapter-ul-4,
.chapter-ul-5{
    list-style: none;
}

.chapter-li-1 a,
.chapter-li-2 a,
.chapter-li-3 a,
.chapter-li-4 a,
.chapter-li-5 a{
    font-size: 20px;
}


.container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    border-bottom: 1px solid white;
    padding-top: 20px;
    align-items: center;
}

.box1 {
    flex: 0 0 60%; /* 不縮小、不增長、初始寬度為80% */
}

.box2, .box3 {
    flex: 0 0 20%; /* 不縮小、不增長、初始寬度為10% */
    padding-left: 10px;
}

.add-law{
    background-color: #444;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 15px
}

